* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(14, 15, 24);
}

.header {
  position: fixed;
  width: 100%;
  z-index: 2;
  /* For JS */
  /* MEDIA QUERIES */
}
.header button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}
.header ul {
  list-style: none;
}
.header a {
  text-decoration: none;
  color: inherit;
}
.header .top-bar {
  background-color: rgb(39, 44, 51);
}
.header .top-bar__content {
  height: 30px;
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color: #fff;
}
.header .icon {
  margin-right: 3px;
  color: rgba(255, 255, 255, 0.17);
}
.header .bottom-bar {
  background-color: rgba(19, 22, 26, 0.97);
}
.header .bottom-bar__content {
  min-height: 60px;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  display: flex;
  align-items: center;
  height: 60px;
}
.header .logo__img {
  width: 220px;
  height: auto;
}
.header .nav {
  transition: all 0.3s ease-in-out;
}
.header .nav__list {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.header .nav__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.75);
  transition: all 0.2s;
}
.header .nav__link:hover,
.header .nav__link:focus {
  color: #157347;
}
.header .btn-stylized {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background-color: #198754;
  padding: 8px 20px;
  border-radius: 1000px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.header .btn-stylized:hover {
  background-color: #157347;
}
.header .hamburger {
  cursor: pointer;
  display: none;
}
.header .bar {
  height: 2px;
  width: 27px;
  background-color: #fff;
  margin: 5px 0;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}
.header .nav--open {
  left: 50% !important;
}
.header .hamburger--open .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.header .hamburger--open .bar:nth-child(2) {
  opacity: 0;
}
.header .hamburger--open .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
@media (max-width: 650px) {
  .header .nav {
    position: fixed;
    top: 90px;
    left: -100%;
    transform: translateX(-50%);
    background-color: rgb(19, 22, 26);
    width: 100%;
    padding: 10px 0 25px;
  }
  .header .nav__list {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .header .nav__link {
    font-size: 14px;
  }
  .header .btn {
    font-size: 11px;
    padding: 7px 17px;
  }
  .header .hamburger {
    display: block;
  }
}
@media (max-width: 360px) {
  .header .top-bar__content {
    font-size: 10px;
  }
}

.welcome {
  width: 100%;
  height: 100vh;
  background: url("../images/welcome.png") center center no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.welcome::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  z-index: -1;
}
.welcome .text-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  z-index: 1;
  padding: 0 20px;
}
.welcome .text-overlay .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-size: 4rem;
  margin: 0;
}
.welcome .text-overlay .logo div {
  text-align: start;
}
.welcome .text-overlay .logo div #industry {
  font-weight: 200;
  font-size: 2rem;
}
.welcome .text-overlay .logo img {
  max-width: 350px;
  width: 100%;
  height: auto;
}
.welcome .text-overlay h2 {
  font-size: 1.5rem;
}
@media only screen and (max-width: 768px) {
  .welcome .text-overlay {
    padding: 0 15px;
  }
  .welcome .text-overlay #industry {
    font-size: 1.2rem;
  }
}
@media (max-width: 480px) {
  .welcome .welcome::before {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .welcome .text-overlay {
    padding: 0 5px;
  }
  .welcome .text-overlay .logo {
    font-size: 1.5rem;
  }
  .welcome .text-overlay .logo div #industry {
    font-size: 1.3rem;
    font-weight: 400;
  }
  .welcome .text-overlay .logo img {
    width: 200px;
  }
}

.services-container {
  padding: 50px;
}
.services-container .service {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-container h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 4px;
  background-color: rgb(21, 153, 70);
  background: linear-gradient(8deg, rgba(21, 153, 70, 0.9) 0%, rgba(42, 180, 100, 0.9) 41%, rgba(11, 133, 50, 0.9) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  opacity: 0;
}
.services-container h1::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  height: 6px;
  width: 100%;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.05);
}
.services-container h1.active {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
}
.services-container h1 span {
  position: absolute;
  top: 100%;
  left: 0;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #72e2ae;
  animation: anim 10s linear infinite;
}
@media screen and (max-width: 1200px) {
  .services-container h1 {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 900px) {
  .services-container h1 {
    font-size: 2.5rem;
  }
}
.services-container .service-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 80px;
  max-width: 80%;
}
.services-container .service-card {
  cursor: pointer;
  height: 270px;
  width: 300px;
  padding: 10px;
  background-color: #1c2335;
  border: 0.2px solid #1c2335;
  border-radius: 8px;
  transition: transform 0.6s, background-color 0.6s ease, border-color 0.6s ease, box-shadow 0.6s ease;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  font-family: "Montserrat", sans-serif;
}
.services-container .service-card:hover {
  background-color: transparent;
  border-color: #038720;
  box-shadow: -1px 0px 10px 0px rgba(3, 135, 32, 0.5);
  transform: translate(2px);
}
.services-container .service-card:hover i {
  color: #04cb2f;
}
.services-container .service-card.active {
  animation: slideLeft 1.4s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}
.services-container .service-card i {
  color: #72e2ae;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 3rem;
}
.services-container .service-card h2 {
  display: flex;
  align-items: center;
  height: 46px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}
.services-container .service-card p {
  font-size: 14px;
  text-align: center;
  width: 100%;
  margin: 12px 0;
  color: rgba(255, 255, 255, 0.6);
}

.contactContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
  margin: 50px auto;
  background-color: #1c1c1c;
  box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 768px) {
  .contactContainer {
    padding: 20px 0;
  }
}
.contactContainer .contactForm {
  display: flex;
  flex-direction: row;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  background-color: #2f2f2f;
  max-width: 80%;
}
.contactContainer .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 40px;
  background-color: #333;
  width: 50%;
  gap: 20px;
  background-image: url("../images/form.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
}
.contactContainer .info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1;
}
.contactContainer .info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.contactContainer .info .contactLogo {
  width: 150px;
  margin: 0 auto;
  z-index: 2;
}
.contactContainer .info .contactTitle {
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 2;
  margin-bottom: 10px;
}
.contactContainer .info .contactText {
  font-size: 16px;
  font-weight: 700;
  text-align: justify;
  z-index: 2;
}
.contactContainer .inputs {
  background-color: #2f2f2f;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  border-left: 1px solid #444;
}
.contactContainer .inputs .inp {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}
.contactContainer .inputs .inp input {
  width: 100%;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
  font-size: 14px;
}
.contactContainer .inputs .inp input::-moz-placeholder {
  color: #aaa;
}
.contactContainer .inputs .inp input::placeholder {
  color: #aaa;
}
.contactContainer .inputs .allInput {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.contactContainer .inputs textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #2f2f2f;
  color: #fff;
  font-size: 14px;
  resize: vertical;
  transition: all 0.3s ease;
}
.contactContainer .inputs textarea::-moz-placeholder {
  color: #aaa;
}
.contactContainer .inputs textarea::placeholder {
  color: #aaa;
}
.contactContainer .inputs textarea:focus {
  outline: none;
  border-color: #198754;
  background-color: #3a3a3a;
  box-shadow: 0 0 5px rgba(24, 149, 65, 0.5);
}
.contactContainer .btn-stylized {
  background-color: #198754;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.contactContainer .btn-stylized:hover {
  background-color: #157347;
}
@media (max-width: 1024px) {
  .contactContainer .contactForm {
    flex-direction: column;
  }
  .contactContainer .contactForm .info,
  .contactContainer .contactForm .inputs {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .contactContainer .info {
    padding: 20px;
  }
  .contactContainer .info .contactTitle {
    font-size: 20px;
  }
  .contactContainer .info .contactText {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .contactContainer .info {
    padding: 15px;
  }
  .contactContainer .info .contactLogo {
    width: 100px;
  }
  .contactContainer .info .contactTitle {
    font-size: 18px;
  }
  .contactContainer .info .contactText {
    font-size: 12px;
  }
  .contactContainer .inputs {
    padding: 10px;
  }
}

.progressContainer {
  margin: 100px auto;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.progressContainer .stepWrapper {
  max-width: 75%;
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.progressContainer .progressTitle {
  font-size: 2.5em;
  margin: 0;
  margin-bottom: 20px;
}
.progressContainer .progressTitle.active {
  animation: slideDown 1s forwards cubic-bezier(0.36, -0.01, 0.5, 1.38);
}
.progressContainer .steps {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.progressContainer .steps.active {
  animation: slideDown 1s forwards cubic-bezier(0.36, -0.01, 0.5, 1.38);
}
.progressContainer .steps .step {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
.progressContainer .steps .step .step-number {
  font-size: 2em;
  font-weight: bold;
  color: #198754;
  margin-bottom: 10px;
}
.progressContainer .steps .step .step-title {
  font-size: 1em;
  font-weight: bold;
  color: #999;
  margin-bottom: 10px;
}
.progressContainer .descriptions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.progressContainer .descriptions .step-description {
  flex: 1;
  text-align: left;
  font-size: 1em;
  color: #666;
  margin-right: 10px;
}
.progressContainer .progress {
  height: 5px;
  background-color: #444;
  position: relative;
  margin: 20px 0;
  width: 100%;
  border-radius: 50px;
}
.progressContainer .progress .progress-bar {
  width: 100%;
  height: 100%;
  background-color: #198754;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50px;
}
.progressContainer .progress .progress-dot {
  width: 25px;
  height: 25px;
  background-color: #198754;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.progressContainer .progress .progress-dot:nth-child(1) {
  left: 25%;
}
.progressContainer .progress .progress-dot:nth-child(2) {
  left: 50%;
}
.progressContainer .progress .progress-dot::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #0e0e0e;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.progressContainer .progress .progress-dot.active {
  opacity: 1;
  animation: slideDot 2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}
@keyframes slideDot {
  0% {
    opacity: 0;
    transform: translate(-200%, -50%);
  }
  100% {
    opacity: 1;
    transform: translate(0, -50%);
  }
}
@media (max-width: 768px) {
  .progressContainer .progressTitle {
    font-size: 2em;
  }
  .progressContainer .step-number {
    font-size: 1.8em;
  }
  .progressContainer .progress-dot {
    width: 20px;
    height: 20px;
  }
  .progressContainer .progress-dot::after {
    width: 5px;
    height: 5px;
  }
}
@media (max-width: 480px) {
  .progressContainer {
    padding: 10px;
  }
  .progressContainer .progressTitle {
    font-size: 1.8em;
  }
  .progressContainer .step-number {
    font-size: 1.5em;
  }
  .progressContainer .step-title {
    font-size: 0.9em;
  }
  .progressContainer .step-description {
    font-size: 0.9em;
  }
  .progressContainer .progress-dot {
    width: 15px;
    height: 15px;
  }
  .progressContainer .progress-dot::after {
    width: 4px;
    height: 4px;
  }
}

.slider-container {
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}
.slider-container .item {
  width: 200px;
  height: 300px;
  list-style-type: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
  transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
}
.slider-container .item:nth-child(1), .slider-container .item:nth-child(2) {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: none;
  border-radius: 0;
  box-shadow: none;
  opacity: 1;
}
.slider-container .item:nth-child(3) {
  left: 50%;
}
.slider-container .item:nth-child(4) {
  left: calc(50% + 220px);
}
.slider-container .item:nth-child(5) {
  left: calc(50% + 440px);
}
.slider-container .item:nth-child(6) {
  left: calc(50% + 660px);
  opacity: 0;
}
.slider-container .item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}
.slider-container .content {
  width: min(30vw, 400px);
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
  font: 400 0.85rem helvetica, sans-serif;
  color: white;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: none;
}
.slider-container .content .title {
  font-family: "arial-black";
  text-transform: uppercase;
}
.slider-container .content .description {
  line-height: 1.7;
  margin: 1rem 0 1.5rem;
  font-size: 0.8rem;
}
.slider-container .content button {
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border: 2px solid white;
  border-radius: 0.25rem;
  padding: 0.75rem;
  cursor: pointer;
}
.slider-container .item:nth-of-type(2) .content {
  display: block;
  animation: show 0.75s ease-in-out 0.3s forwards;
}
@keyframes show {
  0% {
    filter: blur(5px);
    transform: translateY(calc(-50% + 75px));
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
.slider-container .nav {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.slider-container .nav .btn {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(0, 0, 0, 0.6);
  margin: 0 0.25rem;
  padding: 0.75rem;
  border-radius: 50%;
  cursor: pointer;
}
.slider-container .nav .btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
@media (max-width: 900px) and (min-width: 650px) {
  .slider-container .content .title {
    font-size: 1rem;
  }
  .slider-container .content .description {
    font-size: 0.7rem;
  }
  .slider-container .content button {
    font-size: 0.7rem;
  }
  .slider-container .item {
    width: 160px;
    height: 270px;
  }
  .slider-container .item:nth-child(3) {
    left: 50%;
  }
  .slider-container .item:nth-child(4) {
    left: calc(50% + 170px);
  }
  .slider-container .item:nth-child(5) {
    left: calc(50% + 340px);
  }
  .slider-container .item:nth-child(6) {
    left: calc(50% + 510px);
    opacity: 0;
  }
}
@media (max-width: 650px) {
  .slider-container .content .title {
    font-size: 0.9rem;
  }
  .slider-container .content .description {
    font-size: 0.65rem;
  }
  .slider-container .content button {
    font-size: 0.7rem;
  }
  .slider-container .item {
    width: 130px;
    height: 220px;
  }
  .slider-container .item:nth-child(3) {
    left: 50%;
  }
  .slider-container .item:nth-child(4) {
    left: calc(50% + 130px);
  }
  .slider-container .item:nth-child(5) {
    left: calc(50% + 260px);
  }
  .slider-container .item:nth-child(6) {
    left: calc(50% + 390px);
    opacity: 0;
  }
}/*# sourceMappingURL=main.css.map */