@use "fonts" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(14, 15, 24);
}
.visually-hidden {
  display: none;
}

address {
  font-style: normal;
}

.mt-4 {
  margin-top: 1rem;
}

.d-block {
  display: block;
}

.btn-stylized:hover {
  background-color: $hover-color;
}

/*
  header
*/

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  button {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .top-bar {
    background-color: rgb(39, 44, 51);
  }

  .top-bar__content {
    height: 30px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $font-family;
    font-weight: 500;
    font-size: 13px;
    color: #fff;
  }

  .icon {
    margin-right: 3px;
    color: rgba(255, 255, 255, 0.17);
  }

  .bottom-bar {
    background-color: rgb(19, 22, 26);
  }

  .bottom-bar__content {
    min-height: 60px;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;
    height: 60px;
  }

  .logo__img {
    max-width: 220px;
    width: 100%;
    height: auto;
  }

  .nav {
    transition: all 0.3s ease-in-out;
  }

  .nav__list {
    display: flex;
    column-gap: 40px;
  }

  .nav__link {
    font-family: $font-family;
    font-weight: $font-weight-header;
    font-size: $font-size-header;
    color: rgba(255, 255, 255, 0.75);
    transition: color ease 0.3s;
  }

  .nav__link:hover,
  .nav__link:focus {
    color: $hover-color;
  }

  .nav__link.active {
    color: #18a362;
    font-weight: 500;
  }

  .btn-stylized {
    font-family: $font-family;
    color: #fff;
    background-color: $main-color;
    padding: 8px 20px;
    border-radius: 1000px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn-stylized:hover {
    background-color: $hover-color;
  }

  .hamburger {
    cursor: pointer;
    display: none;
  }

  .bar {
    height: 2px;
    width: 27px;
    background-color: #fff;
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
  }

  /* For JS */
  .nav--open {
    left: 50% !important;
  }

  .hamburger--open .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }

  .hamburger--open .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger--open .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }

  /* MEDIA QUERIES */
  @media (max-width: 650px) {
    .nav {
      position: fixed;
      top: 90px;
      left: -100%;
      transform: translateX(-50%);
      background-color: rgb(19, 22, 26);
      width: 100%;
      padding: 10px 0 25px;
    }

    .nav__list {
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
    }

    .nav__link {
      font-size: 14px;
    }

    .btn {
      font-size: 11px;
      padding: 7px 17px;
    }

    .hamburger {
      display: block;
    }
  }

  @media (max-width: 460px) {
    .top-bar__content {
      font-size: 12px;
      padding: 0 10px;
    }
  }
}

/*
 welcome
*/

.welcome {
  width: 100%;
  height: 100vh;
  background: url("../images/welcome.webp") center center no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    z-index: -1;
  }

  .text-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    z-index: 1;
    padding: 0 20px;
  }

  .text-overlay .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 600;
    font-family: $font-family;
    font-style: italic;
    font-size: 4rem;
    margin: 0;

    div {
      text-align: start;

      & #industry {
        font-weight: 200;
        font-size: 2rem;
      }
    }

    img {
      max-width: 300px;
      width: 100%;
      height: auto;
    }
  }

  .text-overlay h2 {
    font-size: 1.5rem;
  }

  @media only screen and (max-width: 768px) {
    .text-overlay {
      padding: 0 15px;
    }

    .text-overlay #industry {
      font-size: 1.2rem;
    }
  }

  @media (max-width: 480px) {
    .welcome {
      &::before {
        background-color: rgba(0, 0, 0, 0.6);
      }
    }

    .text-overlay {
      padding: 0 5px;
    }

    .text-overlay .logo {
      font-size: 1.5rem;
      div #industry {
        font-size: 1.3rem;
        font-weight: 400;
      }
    }

    .text-overlay .logo img {
      width: 200px;
    }
  }
}

/* 
  about us
*/

.about-section {
  background: url("../images/background.webp") no-repeat left;
  background-size: contain;
  overflow: hidden;
  padding: 100px 0;

  .inner-container {
    width: 55%;
    float: right;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 100px 40px;

    h2 {
      font-family: $font-family;
      font-size: 30px;
      font-weight: 900;
      color: white;
    }

    .text {
      font-family: $font-family;
      font-size: 13px;
      font-weight: 700;
      color: #ffffff;
      line-height: 30px;
      text-align: justify;
      margin-bottom: 40px;

      i {
        font-size: 25px;
      }
    }

    .skills {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      gap: 5px;

      span {
        font-family: $font-family;
        flex: 1 1 auto;
        margin: 8px;
        color: #0ba75e;

        i {
          font-size: 25px;
          color: white;
        }
      }

      @media screen and (max-width: 600px) {
        flex-direction: column;
      }
    }

    @media screen and (max-width: 600px) {
      padding: 40px;
      h2 {
        font-size: 24px;
      }
      .text {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }

  @media screen and (max-width: 1280px) {
    background-size: cover;
    background-position: center;
    padding: 80px 20px;
    .inner-container {
      width: 100%;

      .skills-head {
        text-align: center;
      }
    }
  }

  @media screen and (max-width: 600px) {
    padding: 40px 20px;
  }
}

/* 
  faq
*/

.faq-section {
  margin: 50px auto;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 50px;
  border-radius: 8px;

  .title {
    font-family: $font-family;
    color: #fff;
    font-size: 1.9rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
    background: linear-gradient(
      8deg,
      rgba(21, 153, 70, 0.9) 0%,
      rgba(42, 180, 100, 0.9) 41%,
      rgba(11, 133, 50, 0.9) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .faq-container {
    max-width: 700px;
    width: 100%;
    margin-top: 1.5rem;
    cursor: pointer;
    border-bottom: 0.1px solid #ffffff;
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out;

    &.active {
      background-color: rgba(39, 44, 51, 0.3);
      border-radius: 8px;

      .faq-answer {
        max-height: 300px;
        animation: fade 0.3s ease-in-out;
      }

      svg {
        transform: rotate(180deg);
      }
    }

    &:hover {
      background-color: rgba(39, 44, 51, 0.3);
      border-radius: 8px;
    }

    svg {
      transition: transform 0.3s ease-in;
    }
  }

  .faq-question {
    color: #fff;
    display: flex;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    h3 {
      font-family: $font-family;
      font-size: 1.2rem;
      font-weight: 700;
    }
  }

  .faq-answer {
    color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;

    p {
      padding-bottom: 1rem;
      padding-left: 1rem;
      line-height: 1.3;
      font-family: $font-family;
      font-size: 13px;
      font-weight: 700;
    }
  }

  @media (max-width: 768px) {
    width: 90%;
    padding: 20px;

    .faq-container {
      padding: 10px;
    }
  }

  @media (max-width: 480px) {
    width: 100%;
    padding: 20px;

    .title {
      font-size: 1.5rem;
    }

    .faq-question h3 {
      font-size: 1rem;
    }
  }
}

/*
 progress 
*/

.progressContainer {
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .stepWrapper {
    max-width: 75%;
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .progressTitle {
    font-family: $font-family;
    font-size: 2.5em;
    margin: 0;
    margin-bottom: 20px;
    opacity: 0;

    &.active {
      animation: slideDown 1s forwards cubic-bezier(0.36, -0.01, 0.5, 1.38);
    }
  }

  .steps {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    opacity: 0;

    &.active {
      animation: slideDown 1.3s forwards cubic-bezier(0.36, -0.01, 0.5, 1.38);
    }

    .step {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;

      .step-number {
        font-family: $font-family;
        font-size: 2em;
        font-weight: bold;
        color: $main-color;
        margin-bottom: 10px;
      }

      .step-title {
        font-family: $font-family;
        font-size: 1em;
        font-weight: bold;
        color: #999;
        margin-bottom: 10px;
      }
    }
  }

  .descriptions {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    .step-description {
      flex: 1;
      text-align: left;
      font-family: $font-family;
      font-size: 0.9em;
      font-weight: 600;
      color: #666;
      margin-right: 10px;
    }
  }

  .progress {
    height: 5px;
    background-color: #444;
    position: relative;
    margin: 20px 0;
    width: 100%;
    border-radius: 50px;

    .progress-bar {
      width: 100%;
      height: 100%;
      background-color: $main-color;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 50px;
    }

    .progress-dot {
      width: 25px;
      height: 25px;
      background-color: $main-color;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &:nth-child(1) {
        left: 25%;
      }

      &:nth-child(2) {
        left: 50%;
      }

      &::after {
        content: "";
        width: 6px;
        height: 6px;
        background-color: #0e0e0e;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &.active {
        opacity: 1;
        animation: slideDot 2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
      }

      @keyframes slideDot {
        0% {
          opacity: 0;
          transform: translate(-200%, -50%);
        }

        100% {
          opacity: 1;
          transform: translate(0, -50%);
        }
      }
    }
  }

  @media (max-width: 768px) {
    .progressTitle {
      font-size: 2em;
    }

    .step-number {
      font-size: 1.8em;
    }

    .progress-dot {
      width: 20px;
      height: 20px;

      &::after {
        width: 5px;
        height: 5px;
      }
    }
  }

  @media (max-width: 480px) {
    padding: 30px 10px;

    .progressTitle {
      font-size: 1.5em;
    }

    .step-number {
      font-size: 1.3em;
    }

    .step-title {
      font-size: 0.9em;
    }

    .step-description {
      font-size: 0.9em;
    }

    .progress-dot {
      width: 15px;
      height: 15px;

      &::after {
        width: 4px;
        height: 4px;
      }
    }
  }
}

/*
 before after
*/

.gallery-container {
  padding: 80px 20px 150px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .gallery-header {
    text-align: center;
    margin-bottom: 50px;
    max-width: 1170px;
    width: 100%;
    opacity: 0;

    &.active {
      animation: slideDown 1.4s forwards cubic-bezier(0.36, -0.01, 0.5, 1.38);
    }

    h2 {
      font-family: $font-family;
      font-size: 2.5rem;
      margin-bottom: 10px;
      color: #ffffff;
    }

    p {
      font-family: $font-family;
      font-size: 15px;
      font-weight: 700;
      color: #868686;
      max-width: 600px;
      margin: 0 auto;
    }
  }

  .gallery {
    position: relative;
    max-width: 1170px;
    width: 100%;
    background-color: #1a1a29;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 0;

    .gallery-slide {
      display: flex;
      transition: transform 0.5s ease-in-out;

      .gallery-item {
        flex: 0 0 100%;
        display: flex;
        gap: 20px;
        padding: 20px;
        box-sizing: border-box;

        .gallery-image {
          position: relative;
          flex: 1;
          max-width: 80%;
          border-radius: 12px;
          overflow: hidden;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          display: flex;
          flex-direction: column;
          align-items: center;

          img {
            width: 100%;
            height: auto;
            display: block;
          }

          .image-label {
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: rgba(0, 0, 0, 0.8);
            color: #fff;
            padding: 8px 12px;
            border-radius: 8px;
            font-family: $font-family;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
          }

          .image-description {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 25%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            color: #fff;
            padding: 8px 12px;
            font-family: $font-family;
            font-size: 0.9rem;
            font-weight: 700;
            text-align: center;
            box-sizing: border-box;
            overflow: auto;
          }
        }
      }
    }

    .nav-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.9);
      color: #fff;
      border: none;
      padding: 10px 15px;
      cursor: pointer;
      border-radius: 50%;
      font-size: 18px;
      z-index: 10;

      &.prev {
        left: 10px;
      }

      &.next {
        right: 10px;
      }
    }
  }
}

/* Responsive Styles */

@media (max-width: 768px) {
  .gallery-container {
    padding: 20px;
    padding-bottom: 100px;

    .gallery-header {
      margin-bottom: 40px;
      h2 {
        font-size: 1.8rem;
      }

      p {
        padding: 0 10px;
      }
    }

    .gallery {
      .gallery-item {
        flex-direction: column;
        align-items: center;
        padding: 10px !important;
        gap: 45px !important;

        .gallery-image {
          max-width: 100% !important;
          position: relative;

          .image-description {
            font-size: 12px;
            padding: 6px 8px;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
          }
        }
      }

      .nav-button {
        background: none;
        font-size: 35px;
        border: none;
        color: #ffffff;
      }
    }
  }

  @media (max-width: 480px) {
    .gallery-header {
      h2 {
        font-size: 1.5rem;
      }

      p {
        font-size: 10px;
        padding: 0 5px;
      }
    }

    .gallery {
      .gallery-item {
        .gallery-image {
          .image-description {
            font-size: 10px;
            padding: 4px 6px;
          }
        }
      }
    }
  }
}

/*
 slider 
*/

.slider-container {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;

  .item {
    width: 200px;
    height: 300px;
    list-style-type: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.333);
      pointer-events: none;
    }

    &.item-1 {
      background-image: url("../images/photo1.webp");
    }
    &.item-2 {
      background-image: url("../images/photo2.webp");
    }
    &.item-3 {
      background-image: url("../images/photo3.webp");
    }
    &.item-4 {
      background-image: url("../images/photo4.webp");
    }
    &.item-5 {
      background-image: url("../images/photo5.webp");
    }

    &:nth-child(1),
    &:nth-child(2) {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: none;
      border-radius: 0;
      box-shadow: none;
      opacity: 1;
    }
    &:nth-child(3) {
      left: 50%;
    }
    &:nth-child(4) {
      left: calc(50% + 220px);
    }
    &:nth-child(5) {
      left: calc(50% + 440px);
    }
  }

  .content {
    width: 100%;
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 3rem;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.651);
    transform: translateY(-50%);
    opacity: 0;
    display: none;
    text-align: center;
    z-index: 2;
    font-family: $font-family;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;

    & .title {
      color: $main-color;
      font-size: 1.5rem;
      text-transform: uppercase;
    }

    & .description {
      margin: 10px 0 0 0;
      font-size: 1.1rem;
      & a {
        color: rgb(162, 193, 235);
        text-decoration: underline;
        cursor: pointer;
      }
    }

    & button {
      width: fit-content;
      background-color: rgba(0, 0, 0, 0.1);
      color: white;
      border: 2px solid white;
      border-radius: 0.25rem;
      padding: 0.75rem;
      cursor: pointer;
    }
  }

  .item:nth-of-type(2) .content {
    display: block;
    animation: show 0.75s ease-in-out 0.3s forwards;
  }

  @keyframes show {
    0% {
      filter: blur(5px);
      transform: translateY(calc(-50% + 75px));
    }
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }

  .nav {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    user-select: none;

    & .btn {
      background-color: rgba(255, 255, 255, 0.5);
      color: rgba(0, 0, 0, 0.7);
      border: 2px solid rgba(0, 0, 0, 0.6);
      margin: 0 0.25rem;
      padding: 0.75rem;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }

  @media (max-width: 900px) {
    .content {
      top: 28%;
      left: 0;
      right: 0;
      margin: 0 auto;
      & .title {
        font-size: 1.5rem;
      }
      & .description {
        font-size: 1rem;
      }
      & button {
        font-size: 0.7rem;
      }
    }
    .item {
      width: 160px;
      height: 270px;

      &:nth-child(3) {
        left: calc(0% + 20px);
        top: 70%;
      }
      &:nth-child(4) {
        left: calc(0% + 220px);
        top: 70%;
      }
      &:nth-child(5) {
        top: 70%;
        left: calc(0% + 420px);
      }
      &:nth-child(6) {
        top: 70%;
        left: calc(0% + 625px);
        opacity: 1;
      }
    }
  }

  @media (max-width: 450px) {
    .content {
      max-width: 350px;
      padding: 10px;
      & .title {
        font-size: 1.3rem;
      }
      & .description {
        font-size: 1rem;
      }
    }
  }

  @media (max-width: 420px) {
    .item {
      width: 120px;
      height: 230px;
      &:nth-child(3) {
        top: 70%;
        left: 0;
        right: 150px;
        margin: 0 auto;
      }
      &:nth-child(4) {
        top: 70%;
        left: 150px;
        right: 0;
        margin: 0 auto;
      }
    }
  }

  @media (max-height: 700px) and (max-width: 800px) {
    .content {
      top: 50%;
      left: 2rem;
      right: auto;
      max-width: 300px;
      padding: 5px;
      & .title {
        font-size: 1.1rem;
      }
      & .description {
        font-size: 0.8rem;
      }
    }

    .item {
      width: 110px;
      height: 200px;

      &:nth-child(3) {
        left: calc(20% + 220px);
        top: 50%;
      }
      &:nth-child(4) {
        left: calc(20% + 340px);
        top: 50%;
      }
      &:nth-child(5) {
        top: 50%;
        left: calc(20% + 460px);
      }
      &:nth-child(6) {
        top: 50%;
        left: calc(20% + 585px);
        opacity: 0;
      }
    }
  }
}

/*
 feecbacks 
*/

.testimonials {
  padding: 50px;
  text-align: center;

  h2 {
    color: #ffffff;
    font-family: $font-family;
    font-size: 2em;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    opacity: 0;

    &.active {
      animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
    }
  }

  .subtitle {
    font-family: $font-family;
    font-size: 1rem;
    display: inline-flex;
    max-width: 500px;
    color: #c7c7c7;
    margin-bottom: 80px;
    opacity: 0;

    &.active {
      animation: nameAnim 0.75s ease-in-out forwards;
    }
  }

  .testimonials-container {
    display: flex;
    justify-content: center;
    gap: 44px;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .testimonial-card {
    background-color: #272b33;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    padding-top: 60px;

    .image-container {
      position: absolute;
      top: -40px;
      left: 50%;
      width: 80px;
      height: 80px;
      border: 5px solid #191b20;
      border-radius: 50%;
      opacity: 0;

      &.active {
        animation: imageAnim 0.75s ease-in-out forwards;
      }

      img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
    }

    .quote {
      font-family: $font-family;
      font-size: 0.9em;
      height: 110px;
      margin-bottom: 20px;
      color: #ffffff;
      opacity: 0;

      &.active {
        animation: nameAnim 0.75s ease-in-out forwards;
      }
    }

    .name {
      font-family: $font-family;
      font-weight: bold;
      margin-bottom: 5px;
      color: #ffffff;
      opacity: 0;

      &.active {
        animation: nameAnim 0.75s ease-in-out forwards;
      }
    }

    .position {
      font-family: $font-family;
      color: #999999;
      opacity: 0;

      &.active {
        animation: nameAnim 0.75s ease-in-out forwards;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .testimonials-container {
      gap: 50px;
    }

    .subtitle {
      font-size: 0.9rem;
    }

    .testimonial-card {
      max-width: 260px;
    }
  }
}

/*
 services 
*/

.services-container {
  padding: 50px;

  .service {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    position: relative;
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    font-family: $font-family;
    letter-spacing: 4px;
    background-color: rgba(21, 153, 70, 255);
    background: linear-gradient(
      8deg,
      rgba(21, 153, 70, 0.9) 0%,
      rgba(42, 180, 100, 0.9) 41%,
      rgba(11, 133, 50, 0.9) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0%;
      height: 6px;
      width: 100%;
      border-radius: 8px;
      background-color: rgba(255, 255, 255, 0.05);
    }

    span {
      position: absolute;
      top: 100%;
      left: 0;
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background-color: #72e2ae;
      animation: anim 10s linear infinite;
    }

    &.active {
      animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
    }
  }

  @media screen and (max-width: 1200px) {
    h2 {
      font-size: 3.5rem;
    }
  }

  @media screen and (max-width: 900px) {
    h2 {
      font-size: 2.5rem;
    }
  }

  .service-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 80px;
    max-width: 80%;
  }

  .service-card {
    cursor: pointer;
    height: 270px;
    width: 300px;
    padding: 10px;
    background-color: #1c2335;
    border: 0.2px solid #1c2335;
    border-radius: 8px;
    transition: transform 0.6s, background-color 0.6s ease,
      border-color 0.6s ease, box-shadow 0.6s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    font-family: $font-family;
    opacity: 0;

    &:hover {
      background-color: transparent;
      border-color: #038720;
      box-shadow: -1px 0px 10px 0px rgba(3, 135, 32, 0.5);
      transform: translate(2px);

      i {
        color: #04cb2f;
      }
    }

    &.active {
      animation: slideLeft 1.4s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    }

    i {
      color: #259e57;
      margin-top: 15px;
      margin-bottom: 20px;
      font-size: 3rem;
    }

    h3 {
      display: flex;
      align-items: center;
      height: 46px;
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 1px;
    }

    p {
      font-size: 14px;
      text-align: center;
      width: 100%;
      margin: 12px 0;
      color: rgba(255, 255, 255, 0.6);
    }
  }

  @media only screen and (max-width: 480px) {
    .service-card {
      padding: 10px 0;
      padding-top: 0;

      h2 {
        font-size: 15px;
        height: auto;
      }

      p {
        margin: 5px;
        padding: 0 5px;
      }
    }
  }
}

/*
 contactForm 
*/

.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../images/background2.webp");
  background-size: contain;
  background-position: center;
  min-height: 100dvh;
  padding: 50px 0;
  position: relative;
  color: #fff;

  #sectionTitle {
    color: #ffffff;
    font-family: $font-family;
    margin-bottom: 20px;
    font-size: 2.4em;
    z-index: 2;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1;
  }

  .contactForm {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    max-width: 80%;
    z-index: 3;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    width: 50%;
    gap: 24px;
    background-color: rgba(47, 47, 47, 0.9);
    color: #fff;

    .contactTitle {
      font-size: 2.5rem;
      font-family: $font-family;
      color: #159946;
    }

    .contactSubTitle {
      font-family: $font-family;
      font-size: 20px;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 1px;
      z-index: 2;
      margin-bottom: 10px;
    }

    .contactText {
      font-size: 16px;
      font-family: $font-family;
      font-weight: 500;
    }
  }

  .inputs {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(47, 47, 47, 0.6);
    justify-content: center;
    width: 50%;
    padding: 20px 50px;
    border-left: 2px solid rgba(47, 47, 47, 0.9);

    .contactLogo {
      width: 100px;
      margin: 0 auto;
      z-index: 2;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #444;
      border-radius: 5px;
      background-color: #444;
      color: #fff;
      font-size: 14px;

      &:focus {
        outline: none;
        border-color: $main-color;
        background-color: #3a3a3a;
        box-shadow: 0 0 5px rgba(24, 149, 65, 0.5);
        border-color: $main-color;
      }

      &::placeholder {
        color: #aaa;
        font-family: $font-family;
      }
    }

    textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #444;
      border-radius: 5px;
      background-color: #2f2f2f;
      color: #fff;
      font-size: 14px;
      resize: none;
      transition: all 0.3s ease;

      &::placeholder {
        color: #aaa;
        font-family: $font-family;
      }

      &:focus {
        outline: none;
        border-color: $main-color;
        background-color: #3a3a3a;
        box-shadow: 0 0 5px rgba(24, 149, 65, 0.5);
      }
    }

    button {
      font-family: $font-family;
      background-color: $main-color;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-top: 15px;
    }

    button:hover {
      background-color: $hover-color;
    }
  }

  @media (max-width: 768px) {
    .contactForm {
      flex-direction: column;
    }

    .info {
      width: 100%;
      padding: 10px;
      gap: 10px;

      .contactTitle {
        font-size: 2rem;
      }

      .contactSubTitle {
        font-size: 1rem;
        margin-bottom: 0;
      }

      .contactText {
        font-size: 0.8rem;
      }
    }

    .inputs {
      width: 100%;
      border-left: none;
      padding: 20px 10px;
    }
  }
}

/*
  map
*/

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1170px;
  width: 100%;
  margin: auto;
  padding: 50px 0;

  .leaflet-attribution-flag {
    display: none !important;
  }

  .leaflet-control-attribution a:hover {
    text-decoration: none !important;
  }
}

.main-section h2 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
  font-family: $font-family;
  font-size: 24px;
  margin-left: 0;
}

.map-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 40px);
}

.map {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 50%;
  width: 100%;
}

.info-container {
  display: flex;
  background: rgb(59 58 58 / 10%);
  border-top: 1px solid #ddd;
}

.info-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  width: 50%;
  justify-content: center;
}

.info-list li {
  color: #fff;
  flex: 1 1 300px;
  height: 50px;
  padding: 12px;
  border-radius: 6px;
  font-family: $font-family;
  font-size: 14px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.6s ease, box-shadow 0.6s ease;

  &:hover {
    box-shadow: none;
    background-color: transparent;
  }
}

.info-list h2 {
  width: 100%;
  text-align: center;
  margin-top: 0;
  color: $main-color;
  font-family: $font-family;
  font-size: 20px;
  border-bottom: 2px solid $main-color;
  padding-bottom: 10px;
}

.info-details {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.info-details h2 {
  font-family: $font-family;
  align-self: start;
  text-align: center;
  margin-top: 0;
  color: $main-color;
  font-size: 20px;
  border-bottom: 2px solid $main-color;
  padding-bottom: 10px;
}

.info-details p {
  font-family: $font-family;
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 16px;
  cursor: pointer;

  i {
    min-width: 22px;
    color: $main-color;
  }
}

.info-details div {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  height: 100%;
  gap: 24px;
  color: #fff;
}

.info-details span {
  a {
    color: #fff;
    text-decoration: none;
  }
}

.info-details a:hover {
  text-decoration: underline;
}

.custom-icon i {
  color: #464646;
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#location-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.location-state {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

.location-zip {
  flex: 1;
  text-align: center;
}

@media (max-width: 1200px) {
  .map-container {
    max-width: 90%;
  }
  .info-list {
    width: 100%;
    border-right: none;
  }
  .info-details {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .main-section h2 {
    font-size: 20px;
    width: 100%;
  }

  .info-list {
    width: 100%;
    border-right: none;
  }

  .info-list li {
    flex: 1 1 100%;
    height: auto;
  }

  .info-details {
    width: 100%;
  }

  .info-container {
    flex-direction: column;
    height: auto;
  }

  .map {
    height: 60vh;
  }

  .map-container {
    height: auto;
  }
}

/*
  footer
*/

footer {
  background-color: rgba(19, 22, 26, 0.93);
  position: relative;
  width: 100%;
  min-height: 350px;
  padding: 1rem;
  overflow: hidden;

  .container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .col {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    color: #f2f2f2f2;
    font-family: $font-family;
    padding: 0 2rem;
  }

  .col .logo {
    width: 150px;
  }

  .col p {
    max-width: 300px;
  }

  .col h3 {
    color: $main-color;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
  }

  .col h3::after {
    content: "";
    height: 2px;
    width: 0px;
    background-color: $main-color;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
  }

  .col h3:hover::after {
    width: 30px;
  }

  .col .links a {
    display: block;
    text-decoration: none;
    color: #f2f2f2;
    margin-bottom: 5px;
    position: relative;
    transition: 0.3s ease;
  }

  .col .links a::before {
    content: "";
    height: 16px;
    width: 3px;
    position: absolute;
    top: 5px;
    left: -10px;
    background-color: $main-color;
    transition: 0.5s ease;
    opacity: 0;
  }

  .col .links a:hover::before {
    opacity: 1;
  }

  .col .links a:hover {
    transform: translateX(-8px);
    color: $main-color;
  }

  .col .contact-details {
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .col .contact-details i {
    margin-right: 15px;
  }

  .col .contact-details p a {
    all: unset;
  }

  /********** Responsive Design ********/
  @media (max-width: 900px) {
    .row {
      flex-direction: column;
    }

    .col {
      width: 100%;
      text-align: left;
      margin-bottom: 25px;
    }
  }

  @media (max-width: 768px) {
    .row {
      flex-direction: column;
    }

    .col {
      width: 100%;
      text-align: left;
      margin-bottom: 20px;
    }
  }
}

/*
 keyframes 
*/

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes imageAnim {
  from {
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(-50%) translateY(0%);
    opacity: 1;
  }
}

@keyframes nameAnim {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes anim {
  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    left: 98%;
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
