@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(14, 15, 24);
}

/*
  header
*/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  /* For JS */
  /* MEDIA QUERIES */
}
.header button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}
.header ul {
  list-style: none;
}
.header a {
  text-decoration: none;
  color: inherit;
}
.header .top-bar {
  background-color: rgb(39, 44, 51);
}
.header .top-bar__content {
  height: 30px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #fff;
}
.header .icon {
  margin-right: 3px;
  color: rgba(255, 255, 255, 0.17);
}
.header .bottom-bar {
  background-color: rgba(19, 22, 26, 0.99);
}
.header .bottom-bar__content {
  min-height: 60px;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  display: flex;
  align-items: center;
  height: 60px;
}
.header .logo__img {
  width: 220px;
  height: auto;
}
.header .nav {
  transition: all 0.3s ease-in-out;
}
.header .nav__list {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.header .nav__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.75);
  transition: color ease 0.3s;
}
.header .nav__link:hover,
.header .nav__link:focus {
  color: #157347;
}
.header .nav__link.active {
  color: #18a362;
  font-weight: 500;
}
.header .btn-stylized {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background-color: #198754;
  padding: 8px 20px;
  border-radius: 1000px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.header .btn-stylized:hover {
  background-color: #157347;
}
.header .hamburger {
  cursor: pointer;
  display: none;
}
.header .bar {
  height: 2px;
  width: 27px;
  background-color: #fff;
  margin: 5px 0;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}
.header .nav--open {
  left: 50% !important;
}
.header .hamburger--open .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.header .hamburger--open .bar:nth-child(2) {
  opacity: 0;
}
.header .hamburger--open .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
@media (max-width: 650px) {
  .header .nav {
    position: fixed;
    top: 90px;
    left: -100%;
    transform: translateX(-50%);
    background-color: rgb(19, 22, 26);
    width: 100%;
    padding: 10px 0 25px;
  }
  .header .nav__list {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .header .nav__link {
    font-size: 14px;
  }
  .header .btn {
    font-size: 11px;
    padding: 7px 17px;
  }
  .header .hamburger {
    display: block;
  }
}
@media (max-width: 460px) {
  .header .top-bar__content {
    font-size: 12px;
    padding: 0 10px;
  }
}

/*
 welcome
*/
.welcome {
  width: 100%;
  height: 100vh;
  background: url("../images/welcome.png") center center no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.welcome::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  z-index: -1;
}
.welcome .text-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  z-index: 1;
  padding: 0 20px;
}
.welcome .text-overlay .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-size: 4rem;
  margin: 0;
}
.welcome .text-overlay .logo div {
  text-align: start;
}
.welcome .text-overlay .logo div #industry {
  font-weight: 200;
  font-size: 2rem;
}
.welcome .text-overlay .logo img {
  max-width: 350px;
  width: 100%;
  height: auto;
}
.welcome .text-overlay h2 {
  font-size: 1.5rem;
}
@media only screen and (max-width: 768px) {
  .welcome .text-overlay {
    padding: 0 15px;
  }
  .welcome .text-overlay #industry {
    font-size: 1.2rem;
  }
}
@media (max-width: 480px) {
  .welcome .welcome::before {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .welcome .text-overlay {
    padding: 0 5px;
  }
  .welcome .text-overlay .logo {
    font-size: 1.5rem;
  }
  .welcome .text-overlay .logo div #industry {
    font-size: 1.3rem;
    font-weight: 400;
  }
  .welcome .text-overlay .logo img {
    width: 200px;
  }
}

/* 
  about us
*/
.about-section {
  background: url("../images/background.png") no-repeat left;
  background-size: 55%;
  overflow: hidden;
  padding: 100px 0;
}
.about-section .inner-container {
  width: 55%;
  float: right;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 100px 40px;
}
.about-section .inner-container h1 {
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 900;
  color: white;
}
.about-section .inner-container .text {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #ffffff;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}
.about-section .inner-container .text i {
  font-size: 25px;
}
.about-section .inner-container .skills {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 5px;
}
.about-section .inner-container .skills span {
  font-family: "Montserrat", sans-serif;
  flex: 1 1 auto;
  margin: 8px;
  color: #0ba75e;
}
.about-section .inner-container .skills span i {
  font-size: 25px;
  color: white;
}
@media screen and (max-width: 600px) {
  .about-section .inner-container .skills {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .about-section .inner-container {
    padding: 40px;
  }
  .about-section .inner-container h1 {
    font-size: 24px;
  }
  .about-section .inner-container .text {
    font-size: 14px;
    line-height: 24px;
  }
}
@media screen and (max-width: 1280px) {
  .about-section {
    background-size: cover;
    background-position: center;
    padding: 80px 20px;
  }
  .about-section .inner-container {
    width: 100%;
  }
  .about-section .inner-container .skills-head {
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .about-section {
    padding: 40px 20px;
  }
}

/*
 progress 
*/
.progressContainer {
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.progressContainer .stepWrapper {
  max-width: 75%;
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.progressContainer .progressTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5em;
  margin: 0;
  margin-bottom: 20px;
  opacity: 0;
}
.progressContainer .progressTitle.active {
  animation: slideDown 1s forwards cubic-bezier(0.36, -0.01, 0.5, 1.38);
}
.progressContainer .steps {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  opacity: 0;
}
.progressContainer .steps.active {
  animation: slideDown 1.3s forwards cubic-bezier(0.36, -0.01, 0.5, 1.38);
}
.progressContainer .steps .step {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
.progressContainer .steps .step .step-number {
  font-size: 2em;
  font-weight: bold;
  color: #198754;
  margin-bottom: 10px;
}
.progressContainer .steps .step .step-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #999;
  margin-bottom: 10px;
}
.progressContainer .descriptions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.progressContainer .descriptions .step-description {
  flex: 1;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  color: #666;
  margin-right: 10px;
}
.progressContainer .progress {
  height: 5px;
  background-color: #444;
  position: relative;
  margin: 20px 0;
  width: 100%;
  border-radius: 50px;
}
.progressContainer .progress .progress-bar {
  width: 100%;
  height: 100%;
  background-color: #198754;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50px;
}
.progressContainer .progress .progress-dot {
  width: 25px;
  height: 25px;
  background-color: #198754;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.progressContainer .progress .progress-dot:nth-child(1) {
  left: 25%;
}
.progressContainer .progress .progress-dot:nth-child(2) {
  left: 50%;
}
.progressContainer .progress .progress-dot::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #0e0e0e;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.progressContainer .progress .progress-dot.active {
  opacity: 1;
  animation: slideDot 2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}
@keyframes slideDot {
  0% {
    opacity: 0;
    transform: translate(-200%, -50%);
  }
  100% {
    opacity: 1;
    transform: translate(0, -50%);
  }
}
@media (max-width: 768px) {
  .progressContainer .progressTitle {
    font-size: 2em;
  }
  .progressContainer .step-number {
    font-size: 1.8em;
  }
  .progressContainer .progress-dot {
    width: 20px;
    height: 20px;
  }
  .progressContainer .progress-dot::after {
    width: 5px;
    height: 5px;
  }
}
@media (max-width: 480px) {
  .progressContainer {
    padding: 30px 10px;
  }
  .progressContainer .progressTitle {
    font-size: 1.5em;
  }
  .progressContainer .step-number {
    font-size: 1.3em;
  }
  .progressContainer .step-title {
    font-size: 0.9em;
  }
  .progressContainer .step-description {
    font-size: 0.9em;
  }
  .progressContainer .progress-dot {
    width: 15px;
    height: 15px;
  }
  .progressContainer .progress-dot::after {
    width: 4px;
    height: 4px;
  }
}

/*
 before after
*/
.gallery-container {
  padding: 80px 20px 150px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery-container .gallery-header {
  text-align: center;
  margin-bottom: 50px;
  max-width: 1170px;
  width: 100%;
  opacity: 0;
}
.gallery-container .gallery-header.active {
  animation: slideDown 1.4s forwards cubic-bezier(0.36, -0.01, 0.5, 1.38);
}
.gallery-container .gallery-header h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #ffffff;
}
.gallery-container .gallery-header p {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #868686;
  max-width: 600px;
  margin: 0 auto;
}
.gallery-container .gallery {
  position: relative;
  max-width: 1170px;
  width: 100%;
  background-color: #1a1a29;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 0;
}
.gallery-container .gallery .gallery-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.gallery-container .gallery .gallery-slide .gallery-item {
  flex: 0 0 100%;
  display: flex;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}
.gallery-container .gallery .gallery-slide .gallery-item .gallery-image {
  position: relative;
  flex: 1;
  max-width: 80%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery-container .gallery .gallery-slide .gallery-item .gallery-image img {
  width: 100%;
  height: auto;
  display: block;
}
.gallery-container .gallery .gallery-slide .gallery-item .gallery-image .image-label {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 8px 12px;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.gallery-container .gallery .gallery-slide .gallery-item .gallery-image .image-description {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 25%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 8px 12px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
  box-sizing: border-box;
  overflow: auto;
}
.gallery-container .gallery .nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 18px;
  z-index: 10;
}
.gallery-container .gallery .nav-button.prev {
  left: 10px;
}
.gallery-container .gallery .nav-button.next {
  right: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .gallery-container {
    padding: 20px;
    padding-bottom: 100px;
  }
  .gallery-container .gallery-header {
    margin-bottom: 40px;
  }
  .gallery-container .gallery-header h1 {
    font-size: 1.8rem;
  }
  .gallery-container .gallery-header p {
    padding: 0 10px;
  }
  .gallery-container .gallery .gallery-item {
    flex-direction: column;
    align-items: center;
    padding: 10px !important;
    gap: 45px !important;
  }
  .gallery-container .gallery .gallery-item .gallery-image {
    max-width: 100% !important;
    position: relative;
  }
  .gallery-container .gallery .gallery-item .gallery-image .image-description {
    font-size: 12px;
    padding: 6px 8px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .gallery-container .gallery .nav-button {
    background: none;
    font-size: 35px;
    border: none;
    color: #ffffff;
  }
}
@media (max-width: 768px) and (max-width: 480px) {
  .gallery-header h1 {
    font-size: 1.5rem;
  }
  .gallery-header p {
    font-size: 10px;
    padding: 0 5px;
  }
  .gallery .gallery-item .gallery-image .image-description {
    font-size: 10px;
    padding: 4px 6px;
  }
}
/*
 slider 
*/
.slider-container {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.slider-container .item {
  width: 200px;
  height: 300px;
  list-style-type: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
  overflow: hidden;
}
.slider-container .item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.333);
  pointer-events: none;
}
.slider-container .item.item-1 {
  background-image: url("../photos/photo1.jpg");
}
.slider-container .item.item-2 {
  background-image: url("../photos/photo2.jpg");
}
.slider-container .item.item-3 {
  background-image: url("../photos/photo3.jpg");
}
.slider-container .item.item-4 {
  background-image: url("../photos/photo4.jpg");
}
.slider-container .item.item-5 {
  background-image: url("../photos/photo5.jpg");
}
.slider-container .item:nth-child(1), .slider-container .item:nth-child(2) {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: none;
  border-radius: 0;
  box-shadow: none;
  opacity: 1;
}
.slider-container .item:nth-child(3) {
  left: 50%;
}
.slider-container .item:nth-child(4) {
  left: calc(50% + 220px);
}
.slider-container .item:nth-child(5) {
  left: calc(50% + 440px);
}
.slider-container .content {
  width: 100%;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 3rem;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.651);
  transform: translateY(-50%);
  opacity: 0;
  display: none;
  text-align: center;
  z-index: 2;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}
.slider-container .content .title {
  color: #198754;
  font-size: 1.9rem;
  text-transform: uppercase;
}
.slider-container .content .description {
  margin: 10px 0 0 0;
  font-size: 1.1rem;
}
.slider-container .content .description a {
  color: rgb(162, 193, 235);
  text-decoration: underline;
  cursor: pointer;
}
.slider-container .content button {
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border: 2px solid white;
  border-radius: 0.25rem;
  padding: 0.75rem;
  cursor: pointer;
}
.slider-container .item:nth-of-type(2) .content {
  display: block;
  animation: show 0.75s ease-in-out 0.3s forwards;
}
@keyframes show {
  0% {
    filter: blur(5px);
    transform: translateY(calc(-50% + 75px));
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
.slider-container .nav {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.slider-container .nav .btn {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(0, 0, 0, 0.6);
  margin: 0 0.25rem;
  padding: 0.75rem;
  border-radius: 50%;
  cursor: pointer;
}
.slider-container .nav .btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
@media (max-width: 900px) {
  .slider-container .content {
    top: 28%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .slider-container .content .title {
    font-size: 1.5rem;
  }
  .slider-container .content .description {
    font-size: 1rem;
  }
  .slider-container .content button {
    font-size: 0.7rem;
  }
  .slider-container .item {
    width: 160px;
    height: 270px;
  }
  .slider-container .item:nth-child(3) {
    left: calc(0% + 20px);
    top: 70%;
  }
  .slider-container .item:nth-child(4) {
    left: calc(0% + 220px);
    top: 70%;
  }
  .slider-container .item:nth-child(5) {
    top: 70%;
    left: calc(0% + 420px);
  }
  .slider-container .item:nth-child(6) {
    top: 70%;
    left: calc(0% + 625px);
    opacity: 1;
  }
}
@media (max-width: 450px) {
  .slider-container .content {
    max-width: 350px;
    padding: 10px;
  }
  .slider-container .content .title {
    font-size: 1.3rem;
  }
  .slider-container .content .description {
    font-size: 1rem;
  }
}
@media (max-width: 420px) {
  .slider-container .item {
    width: 120px;
    height: 230px;
  }
  .slider-container .item:nth-child(3) {
    top: 70%;
    left: 0;
    right: 150px;
    margin: 0 auto;
  }
  .slider-container .item:nth-child(4) {
    top: 70%;
    left: 150px;
    right: 0;
    margin: 0 auto;
  }
}
@media (max-height: 700px) and (max-width: 800px) {
  .slider-container .content {
    top: 50%;
    left: 2rem;
    right: auto;
    max-width: 300px;
    padding: 5px;
  }
  .slider-container .content .title {
    font-size: 1.1rem;
  }
  .slider-container .content .description {
    font-size: 0.8rem;
  }
  .slider-container .item {
    width: 110px;
    height: 200px;
  }
  .slider-container .item:nth-child(3) {
    left: calc(20% + 220px);
    top: 50%;
  }
  .slider-container .item:nth-child(4) {
    left: calc(20% + 340px);
    top: 50%;
  }
  .slider-container .item:nth-child(5) {
    top: 50%;
    left: calc(20% + 460px);
  }
  .slider-container .item:nth-child(6) {
    top: 50%;
    left: calc(20% + 585px);
    opacity: 0;
  }
}

/*
 feecbacks 
*/
.testimonials {
  padding: 50px;
  text-align: center;
}
.testimonials h2 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
  opacity: 0;
}
.testimonials h2.active {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
}
.testimonials .subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  display: inline-flex;
  max-width: 500px;
  color: #c7c7c7;
  margin-bottom: 80px;
  opacity: 0;
}
.testimonials .subtitle.active {
  animation: nameAnim 0.75s ease-in-out forwards;
}
.testimonials .testimonials-container {
  display: flex;
  justify-content: center;
  gap: 44px;
}
@media (max-width: 768px) {
  .testimonials .testimonials-container {
    flex-direction: column;
    align-items: center;
  }
}
.testimonials .testimonial-card {
  background-color: #272b33;
  border-radius: 10px;
  padding: 20px;
  max-width: 300px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  padding-top: 60px;
}
.testimonials .testimonial-card .image-container {
  position: absolute;
  top: -40px;
  left: 50%;
  width: 80px;
  height: 80px;
  border: 5px solid #191b20;
  border-radius: 50%;
  opacity: 0;
}
.testimonials .testimonial-card .image-container.active {
  animation: imageAnim 0.75s ease-in-out forwards;
}
.testimonials .testimonial-card .image-container img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.testimonials .testimonial-card .quote {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  height: 110px;
  margin-bottom: 20px;
  color: #ffffff;
  opacity: 0;
}
.testimonials .testimonial-card .quote.active {
  animation: nameAnim 0.75s ease-in-out forwards;
}
.testimonials .testimonial-card .name {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
  color: #ffffff;
  opacity: 0;
}
.testimonials .testimonial-card .name.active {
  animation: nameAnim 0.75s ease-in-out forwards;
}
.testimonials .testimonial-card .position {
  font-family: "Montserrat", sans-serif;
  color: #999999;
  opacity: 0;
}
.testimonials .testimonial-card .position.active {
  animation: nameAnim 0.75s ease-in-out forwards;
}
@media only screen and (max-width: 768px) {
  .testimonials .testimonials-container {
    gap: 50px;
  }
  .testimonials .subtitle {
    font-size: 0.9rem;
  }
  .testimonials .testimonial-card {
    max-width: 260px;
  }
}

/*
 services 
*/
.services-container {
  padding: 50px;
}
.services-container .service {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-container h1 {
  position: relative;
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 4px;
  background-color: rgb(21, 153, 70);
  background: linear-gradient(8deg, rgba(21, 153, 70, 0.9) 0%, rgba(42, 180, 100, 0.9) 41%, rgba(11, 133, 50, 0.9) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.services-container h1::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  height: 6px;
  width: 100%;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.05);
}
.services-container h1 span {
  position: absolute;
  top: 100%;
  left: 0;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #72e2ae;
  animation: anim 10s linear infinite;
}
.services-container h1.active {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
}
@media screen and (max-width: 1200px) {
  .services-container h1 {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 900px) {
  .services-container h1 {
    font-size: 2.5rem;
  }
}
.services-container .service-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 80px;
  max-width: 80%;
}
.services-container .service-card {
  cursor: pointer;
  height: 270px;
  width: 300px;
  padding: 10px;
  background-color: #1c2335;
  border: 0.2px solid #1c2335;
  border-radius: 8px;
  transition: transform 0.6s, background-color 0.6s ease, border-color 0.6s ease, box-shadow 0.6s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  font-family: "Montserrat", sans-serif;
  opacity: 0;
}
.services-container .service-card:hover {
  background-color: transparent;
  border-color: #038720;
  box-shadow: -1px 0px 10px 0px rgba(3, 135, 32, 0.5);
  transform: translate(2px);
}
.services-container .service-card:hover i {
  color: #04cb2f;
}
.services-container .service-card.active {
  animation: slideLeft 1.4s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}
.services-container .service-card i {
  color: #259e57;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 3rem;
}
.services-container .service-card h2 {
  display: flex;
  align-items: center;
  height: 46px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}
.services-container .service-card p {
  font-size: 14px;
  text-align: center;
  width: 100%;
  margin: 12px 0;
  color: rgba(255, 255, 255, 0.6);
}
@media only screen and (max-width: 480px) {
  .services-container .service-card {
    padding: 10px 0;
    padding-top: 0;
  }
  .services-container .service-card h2 {
    font-size: 15px;
    height: auto;
  }
  .services-container .service-card p {
    margin: 5px;
    padding: 0 5px;
  }
}

/*
 contactForm 
*/
.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  margin: 50px auto;
  background-image: url("../images/background2.png");
  background-size: contain;
  background-position: center;
  position: relative;
  color: #fff;
}
.contactContainer #sectionTitle {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 2.4em;
  z-index: 2;
  margin-bottom: 30px;
}
.contactContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1;
}
.contactContainer .contactForm {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  max-width: 80%;
  z-index: 3;
}
.contactContainer .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
  width: 50%;
  gap: 24px;
  background-color: rgba(47, 47, 47, 0.9);
  color: #fff;
}
.contactContainer .info .contactTitle {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  color: #159946;
}
.contactContainer .info .contactSubTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 2;
  margin-bottom: 10px;
}
.contactContainer .info .contactText {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.contactContainer .inputs {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(47, 47, 47, 0.6);
  justify-content: center;
  width: 50%;
  padding: 20px 50px;
  border-left: 2px solid rgba(47, 47, 47, 0.9);
}
.contactContainer .inputs .contactLogo {
  width: 100px;
  margin: 0 auto;
  z-index: 2;
}
.contactContainer .inputs input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
  font-size: 14px;
}
.contactContainer .inputs input:focus {
  outline: none;
  border-color: #198754;
  background-color: #3a3a3a;
  box-shadow: 0 0 5px rgba(24, 149, 65, 0.5);
  border-color: #198754;
}
.contactContainer .inputs input::-moz-placeholder {
  color: #aaa;
}
.contactContainer .inputs input::placeholder {
  color: #aaa;
}
.contactContainer .inputs textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #2f2f2f;
  color: #fff;
  font-size: 14px;
  resize: none;
  transition: all 0.3s ease;
}
.contactContainer .inputs textarea::-moz-placeholder {
  color: #aaa;
}
.contactContainer .inputs textarea::placeholder {
  color: #aaa;
}
.contactContainer .inputs textarea:focus {
  outline: none;
  border-color: #198754;
  background-color: #3a3a3a;
  box-shadow: 0 0 5px rgba(24, 149, 65, 0.5);
}
.contactContainer .btn-stylized {
  background-color: #198754;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.contactContainer .btn-stylized:hover {
  background-color: #157347;
}
@media (max-width: 768px) {
  .contactContainer {
    padding: 20px 0;
  }
  .contactContainer .contactForm {
    flex-direction: column;
    max-width: 65%;
  }
  .contactContainer .contactForm .info,
  .contactContainer .contactForm .inputs {
    width: 100%;
  }
  .contactContainer .info .contactSubTitle {
    font-size: 20px;
  }
  .contactContainer .info .contactText {
    font-size: 14px;
  }
  .contactContainer .inputs {
    border-left: none;
    padding-top: 0;
  }
}
@media (max-width: 480px) {
  .contactContainer .info {
    padding: 10px;
    gap: 10px;
  }
  .contactContainer .info .contactTitle {
    font-size: 2rem;
  }
  .contactContainer .info .contactLogo {
    width: 100px;
  }
  .contactContainer .info .contactSubTitle {
    font-size: 1rem;
  }
  .contactContainer .info .contactText {
    font-size: 12px;
  }
  .contactContainer .inputs {
    padding: 10px;
    padding-top: 0;
  }
}

/*
  map
*/
.main-section {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1170px;
  width: 100%;
  margin: auto;
  padding: 50px 0;
}
.main-section .leaflet-attribution-flag {
  display: none !important;
}
.main-section .leaflet-control-attribution a:hover {
  text-decoration: none !important;
}

.main-section h1 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  margin-left: 0;
}

.map-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 40px);
}

.map {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 50%;
  width: 100%;
}

.info-container {
  display: flex;
  background: rgba(59, 58, 58, 0.1);
  border-top: 1px solid #ddd;
}

.info-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  width: 50%;
  justify-content: center;
}

.info-list li {
  color: #fff;
  flex: 1 1 300px;
  height: 50px;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 0 2px 12px rgba(112, 110, 110, 0.1);
  font-size: 16px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.6s ease, box-shadow 0.6s ease;
}
.info-list li:hover {
  box-shadow: none;
  background-color: transparent;
}

.info-list h2 {
  width: 100%;
  text-align: center;
  margin-top: 0;
  color: #5959bf;
  font-size: 20px;
  border-bottom: 2px solid #5959bf;
  padding-bottom: 10px;
}

.info-details {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.info-details h2 {
  font-family: "Montserrat", sans-serif;
  align-self: start;
  text-align: center;
  margin-top: 0;
  color: #5959bf;
  font-size: 20px;
  border-bottom: 2px solid #5959bf;
  padding-bottom: 10px;
}

.info-details p {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 15px;
  font-size: 16px;
  cursor: pointer;
}
.info-details p i {
  min-width: 22px;
  color: #5959bf;
}

.info-details div {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  height: 100%;
  gap: 24px;
  color: #fff;
}

.info-details span a {
  color: #fff;
  text-decoration: none;
}

.info-details a:hover {
  text-decoration: underline;
}

.custom-icon i {
  color: #464646;
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#location-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.location-state {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

.location-zip {
  flex: 1;
  text-align: center;
}

@media (max-width: 1200px) {
  .map-container {
    max-width: 90%;
  }
  .info-list {
    width: 100%;
    border-right: none;
  }
  .info-details {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .main-section h1 {
    font-size: 20px;
    width: 100%;
  }
  .info-list {
    width: 100%;
    border-right: none;
  }
  .info-list li {
    flex: 1 1 100%;
    height: auto;
  }
  .info-details {
    width: 100%;
  }
  .info-container {
    flex-direction: column;
    height: auto;
  }
  .map {
    height: 60vh;
  }
  .map-container {
    height: auto;
  }
}
/*
  footer
*/
footer {
  background-color: rgba(19, 22, 26, 0.93);
  position: relative;
  width: 100%;
  min-height: 350px;
  padding: 1rem;
  overflow: hidden;
  /********** Responsive Design ********/
}
footer .container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .col {
  min-width: 250px;
  color: rgba(242, 242, 242, 0.9490196078);
  font-family: "Montserrat", sans-serif;
  padding: 0 2rem;
}
footer .col .logo {
  width: 200px;
}
footer .col h3 {
  color: #198754;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}
footer .col h3::after {
  content: "";
  height: 2px;
  width: 0px;
  background-color: #198754;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}
footer .col h3:hover::after {
  width: 30px;
}
footer .col .social a i {
  cursor: pointer;
  color: #198754;
  margin-top: 2rem;
  margin-right: 5px;
  transition: 0.3s ease;
}
footer .col .social a i:hover {
  transform: scale(1.5);
  filter: grayscale(25);
}
footer .col .links a {
  display: block;
  text-decoration: none;
  color: #f2f2f2;
  margin-bottom: 5px;
  position: relative;
  transition: 0.3s ease;
}
footer .col .links a::before {
  content: "";
  height: 16px;
  width: 3px;
  position: absolute;
  top: 5px;
  left: -10px;
  background-color: #198754;
  transition: 0.5s ease;
  opacity: 0;
}
footer .col .links a:hover::before {
  opacity: 1;
}
footer .col .links a:hover {
  transform: translateX(-8px);
  color: #198754;
}
footer .col .contact-details {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}
footer .col .contact-details i {
  margin-right: 15px;
}
footer .col .contact-details p a {
  all: unset;
}
@media (max-width: 900px) {
  footer .row {
    flex-direction: column;
  }
  footer .col {
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
  }
}
@media (max-width: 768px) {
  footer .row {
    flex-direction: column;
  }
  footer .col {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
}

/*
 keyframes 
*/
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes imageAnim {
  from {
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(-50%) translateY(0%);
    opacity: 1;
  }
}
@keyframes nameAnim {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes anim {
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: 98%;
  }
}/*# sourceMappingURL=main.css.map */